.App {
  text-align: center;
}

.list-container {
  height: 600px;
  overflow: auto;
}

.image-container {
  display: flex;
  height: 180px;

  margin-bottom: 20px;
}

.image-container img {
  height: 100%;
  width: auto;
  margin-right: 20px;
}

.image-container input {
  align-self: center;
}
#next-btn {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
